@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Montserrat", "sans-serif";
}

li,
a,
button {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: red
}

.logo {
    width: 130px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button {
    padding: 9px 25px;
    background-color: rgb(186, 33, 46);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(255, 0, 21);
}

.hamburger {
    display: none;
}

.dropdown-menu {
    display: none;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
    transition: height 0.4s;
}

.dropdown-menu .cta {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu.open {
    height: 165px;
}

@media (max-width: 900px) {

    .numbertext {
        display: none;
    }

    .navbar .nav-link,
    .navbar .cta {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        background-color: transparent
    }

    .hamburger:hover {
        background-color: transparent
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        background-color: red;
        margin: 6px;
        transition: 0.4s;
        border-radius: 50px;
    }

    .dropdown-menu {
        display: block;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-7px, 8px);
        position: relative;
        z-index: 100;
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-8px, -8px);
        position: relative;
        z-index: 100;
    }

}

@media (max-width: 720px) {

    li,
    a,
    button {
        font-family: "Montserrat", "sans-serif";
        font-weight: 500;
        font-size: 13px;
        color: white;
        text-decoration: none;
    }

    .logo {
        width: 100px;
        transition: .3s ease-in-out;
    }
}