@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

li,
a,
button {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: red
}

.logo {
    width: 130px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button {
    padding: 9px 25px;
    background-color: rgb(186, 33, 46);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 21);
}

@media (max-width: 720px) {

    li,
    a,
    button {
        font-family: "Montserrat", "sans-serif";
        font-weight: 500;
        font-size: 13px;
        color: white;
        text-decoration: none;
    }

    .logo {
        width: 100px;
        transition: .3s ease-in-out;
    }
}