@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Montserrat", "sans-serif";
    overflow-x: hidden;
    color: white;

}

li,
a,
button {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover,
.dropdown-menu li a:hover {
    color: red
}

.logo {
    width: 130px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button {
    padding: 9px 25px;
    background-color: rgb(186, 33, 46);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(255, 0, 21);
}

.hamburger {
    display: none;
}

.dropdown-menu {
    display: none;
}

#checkbox,
.toggle {
    display: none;
}

@media screen and (max-width: 900px) {

    .numbertext {
        display: none;
    }

    .navbar .nav-link,
    .navbar .cta {
        display: none;
    }

    .dropdown-menu {
        display: block;
        height: 0;
        border-radius: 10px;
        overflow: hidden;
        z-index: 100;
        transition: height 0.4s;
    }

    .dropdown-menu .cta {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dropdown-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu.open {
        height: 180px;
    }

    .toggle {
        position: relative;
        width: 40px;
        cursor: pointer;
        display: block;
        height: calc(4px * 3 + 11px * 2);
        overflow: hidden;
        /* Hide scrollbars */
    }

    .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: calc(4px / 2);
        background: red;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
    }

    /***** Spin Animation *****/

    .bar--top {
        bottom: calc(50% + 11px + 4px/ 2);
        transition-property: bottom, transform;
        transition-delay: calc(0s + 0.35s), 0s;
    }

    .bar--middle {
        top: calc(50% - 4px/ 2);
        transition-property: opacity;
        transition-delay: calc(0s + 0.35s);
    }

    .bar--bottom {
        top: calc(50% + 11px + 4px/ 2);
        transition-property: top, transform;
        transition-delay: calc(0s + 0.35s), 0s;
    }

    #checkbox:checked+.toggle .bar--top {
        bottom: calc(50% - 4px/ 2);
        transform: rotate(135deg);
        transition-delay: 0s, calc(0s + 0.35s);
    }

    #checkbox:checked+.toggle .bar--middle {
        opacity: 0;
        transition-duration: 0s;
        transition-delay: calc(0s + 0.35s);
    }

    #checkbox:checked+.toggle .bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(225deg);
        transition-delay: 0s, calc(0s + 0.35s);
    }
}

@media (max-width: 720px) {

    li,
    a,
    button {
        font-family: "Montserrat", "sans-serif";
        font-weight: 500;
        font-size: 12px;
        color: white;
        text-decoration: none;
    }


    .logo {
        width: 100px;
        transition: .3s ease-in-out;
    }
}